@mixin font-settings($font-weight, $font-size, $line-height) {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin fontSize-lineHeight($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}