$colorDark: #222222;
$colorWhite: #FFFFFF;
$colorGray: #F8F8F8;
$colorGrayText: rgba(255, 255, 255, 0.7);;
$colorGrayCard: rgba(17, 17, 17, 0.6);
$colorGrayForm: rgba(17, 17, 17, 0.3);
$colorBlack: #222222;
$widthTablet: 768px;
$widthTelephone: 425px;