.header {
    margin: 10px 10px 60px;
    padding: 2.11% 0 9.15% 11.27%;
    border-radius: 20px;
    background-color: $colorDark;
    position: relative;

    &__logo {
        margin: 0 0 4.23%;
    }

    &__title {
        width: 45.77%;
        @include font-settings(bold, 60px, 69px);
        color: $colorWhite;
        margin: 0 0 1.97%;
    }

    &__subtitle {
        width: 31.69%;
        @include font-settings(normal, 18px, 26px);
        color: $colorGrayText;
        margin: 0 0 7.61%;
    }

    &__img {
        width: 21.9%;
        position: absolute;
        top: 95px;
        right: 15.49%;
    }

    &__button {
        width: 16.9%;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        @include font-settings(600, 16px, 24px);
        color: $colorDark;
        padding: 15px 0 15px;
        border-radius: 8px;
        background-color: $colorGray;
        margin: 0;
        border-style: none;

        &:hover {
            cursor: pointer;
            opacity: 0.93;
        }
    }

    @media screen and (max-width: 1314px) {
        &__title {
            width: 316px;
        }
    }

    @media screen and (max-width: $widthTablet) {
        & {
            margin-bottom: 70px;
            padding: 4.01% 0 6.68% 6.68%;
        }

        &__logo {
            margin: 0 0 6.68%;
        }

        &__title {
            width: 48.13%;
            @include fontSize-lineHeight(33px, 37px);
            margin: 0 0 2.67%;
        }

        &__subtitle {
            width: 48.13%;
            @include fontSize-lineHeight(15px, 20px);
            margin: 0 0 33.42%;
        }

        &__img {
            width: 33.42%;
            top: 130px;
            right: 7.16%;
        }

        &__button {
            width: 33.42%;
            font-size: 14px;
            padding: 12px 0 12px;
            border-radius: 8px;
        }

        @media screen and (max-width: $widthTelephone) {
            & {
                padding: 6.67%;
                border-radius: 10px;
            }

            &__logo {
                margin-bottom:16.67%;
            }
    
            &__title {
                width: 100%;
                @include fontSize-lineHeight(24px, 29px);
                margin-bottom: 4.67%;
            }
    
            &__subtitle {
                width: 100%;
                @include fontSize-lineHeight(12px, 15px);
                margin-bottom: 16.67%;
            }
            
            &__img {
                position: static;
                display: block;
                width: 100%;
                margin-bottom: 50px;
            }

            &__button {
                width: 100%;
                font-size: 12px;
                padding: 10px 0 10px;
            }
        }
    }
}